PRIVATE_KEY=your_private_key_here
LITVM_RPC_URL=https://rpc.litvm-testnet.io
LIT_NETWORK=datil-test
REPORT_GAS=false
VITE_LITVM_CHAIN_ID=4441
VITE_LITVM_RPC_URL=https://rpc.litvm-testnet.io
VITE_LITVM_EXPLORER=https://testnet.litvm.com
VITE_CONTRACT_ADDRESS=
VITE_LIT_NETWORK=datil-test
